:root {
  --background: #2f61ac;
  --primary: #1F3A5F;
  --accent: #E63946;
  --highlight: #3A86FF;
  --text: #1A1A1A;
  --card: #FFFFFF;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}


body  {
  background-color: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

/* MAIN CONTAINER */

#wrapper {
  max-width: 900px;
  width: 95%;
  margin: 20px auto;
  background-color: var(--card);
  border: 4px solid var(--highlight);
  border-radius: 10px;
  padding: 1rem;
}

/* HEADER */
#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.siteName a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: #14213D;
}

#tools a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

#tools a:hover {text-decoration: underline;}


/* NAVIGATION */
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background: var(--primary);
  padding: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

nav ul li a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

nav li a:hover {
  color: var(--highlight);
  cursor: pointer;
}

/* HERO SECTION */
.hero-text {
  position: absolute;
  background-color: rgba(225, 225, 225, 0.7);
  padding: 10px;
  color: #0f8b8d;
  max-width: 300px;
  margin-top: 1rem;
}

.hero-text h2,h3 {
  font-weight: bold;
}

.hero-text h2{color: var(--highlight); padding: 5px;}
.hero-text h3 {font-size: 20px; color: var(--accent);}
.hero-text img {
  margin-top: 10px;
  width: 100%;
  height: auto;
}

.hero-img {text-align: center;}

.hero-img img {
  width: 100%;
  max-width: 700px;
}

/* UPGRADES AND REVIEWS */
.upgrades-reviews {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.upgrades-reviews h3 {
  text-align: center;
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* UPGRADES */

.upgrades{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  order: 2;
}

.upgrades h3 {
  grid-column: 1/3;
  color: #14213d;
}

.upgrades figure {
  background: #e8f2ff;
  padding: 10px;
  text-align: center;
  border: 1px solid #0f8b8d;
}

.upgrades figure figcaption {
  margin-top: 5px;
  color: blue;
  text-decoration: underline;
}

.upgrades img {
  max-width: 100%;
  height: auto;
}


/* REVIEWS */
.reviews {
  padding: 10px;
  order: 1;
}

.reviews h3 {
  margin-bottom: 2.2rem;
  color: #14213D;
}
  
.review-list li {
  margin-bottom: 10px;
  font-size: 20px;
  padding: 10px;
}


footer {
  margin-top: 2rem;
  font-size: .9rem;
  color: #fff;
  text-align: center;
  font-size: 20px;
  background-color: #0c0e13;
  padding: 10px;
  border-radius: 3px;
}

/* VEHICLE GRID DISPLAY VIEW */

#inv-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0;
}

#inv-display li {
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 1rem;
  max-width: 250px;
  width: 100%;
  list-style: none;
  background-color: #ececec;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

#inv-display .namePrice a {
  text-decoration: none;
  padding: 6px;
}

#inv-display .namePrice h2 {
  padding: 6px;
}

#inv-display .namePrice hr {
  border: none;
  height: 3px;
  background-color: #000;
  width: 100%;
}

/* VEHICLE DETAILS */
.vehicle-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.detail-img {
  margin-top: 1rem;
  width: 95%;
  height: auto;
}

.detail-info {
  padding: 10px;
}

.detail-info h2 {
  margin-bottom: 1rem;
}

.detail-info p {
  padding: 8px;
}

/* ERROR PAGE */
.err-container {
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  max-width: 500px;
}

.server-err {
  font-size: 2rem;
  color: #f20b0b;
}

.error-msg {
  margin: 1rem 0;
  font-size: 1.1rem;
}

.error-link {
  text-decoration: none;
  margin-top: 1rem;
  padding: 8px;
  color: white;
}

.error-link:hover {
  text-decoration: underline;
}

/* LOGIN FORM and REGISTER FORM */
.login-container, .register-container, .add-classification-container, .add-inventory-container, .account-update-view {
  max-width: 420px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #2f4356;
  border-radius: 12px;
  border: 2px solid #d4dfa3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.login-form, .register-form, .inventory-form, #updateAccountForm {
  display: flex;
  flex-direction: column;
}

.login-form label, .register-form label, .add-classification-form label, .inventory-form label,
.account-update-view label, #updatePasswordForm label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.login-form input, .register-form input, .add-classification-form input, .inventory-form input, 
select, textarea, #updateAccountForm input, #updatePasswordForm input {
  width: 100%;
  padding: 0.7rem;
  margin: 0.4rem 0 1rem 0;
  border-radius: 6px;
  border: none;
  background-color: #e6e6e6;
  font-size: 1rem;
}

.login-form button, .register-form button, .add-classification-form button, .inventory-form button,
.account-update-view button, #updatePasswordForm button {
  align-self: center;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  border: none;
  background-color: #e6e6e6;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.add-classification-form p {
  padding: 1rem;
  text-align: left;
  font-weight: bold;
  color: aqua;
}

.login-form button:hover {
  background-color: #d0d0d0;
}

.register-link {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1.1rem;
}

.register-link a {
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
}

.flash-message {
  background-color: #ffdddd;
  color: #900;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  text-align: center;
}

.register-form p {
  padding: 1rem;
  text-align: left;
  font-weight: bold;
}

/* ERROR NOTICE STYLES */
.notice {
  background-color: #ffdddd;
  color: #900;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  list-style-type: none;
}

.management-view {
  padding: 1rem;
  width: 100%;
}
.management-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;
}
.management-links li {
  list-style-type: none;
}
.management-links a {
  text-decoration: none;
  color: #fff;
  background-color: var(--background);
  padding: 8px;
  border-radius: 6px;
  font-weight: bold;
}

/* ACCOUNT MANAGEMENT VIEW  */
.account-management {
  padding: 1rem;

}

.account-management h2, .account-management h3, .account-management p {
  color: #14213D;
  padding: 8px;
  margin: 0;
}

/* ACCOUNT UPDATE VIEW */
.account-update-view h2 {
  padding: 8px;
  margin-bottom: 1rem;
}

.account-update-view p {
  padding: 8px;
  margin: 0;
}

/* MANAGE INVENTORY TABLE */

#inventoryDisplay {
  width: 70%;
  border-collapse: collapse;
}

#inventoryDisplay th, #inventoryDisplay td {
  border: 1px solid #050505;
  padding: 8px;
  text-align: left;

}

/* LARGE SCREENS */

@media screen and (min-width: 700px) {


  body {
    background-image: url(/images/site/checkerboard.jpg);
  }


 .upgrades-reviews {
  grid-template-columns: 1fr 1fr;
 }

.reviews{order: initial; margin-left: 1rem;}
.upgrades{order: initial;}

.vehicle-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}


 }











