<h1>
    <%= title %>
</h1>

<div class="management-view">
    <%- messages() %>

    <ul class="management-links">
        <li><a href="/inv/add-classification" title="Click to add new classification">Add New Classification</a></li>
        <li><a href="/inv/add-inventory" title="Click to add new inventory">Add New Vehicle</a></li>
    </ul>
</div>